.btn-warning {
    background-color: #ffc107 !important;
}

.btn-danger {
    background-color: #dc3545 !important;
}

.inp-datos {
    border: 0.5px solid #636363 !important;
    border-radius: 5px;
    width: auto;
}

.btn-cl {
    color: #fff !important;
}

.btn-sl {
    border: 0.5px solid #06B140 !important;
    background-color: #fff !important;
    color: #06B140 !important;
}

.search-w {
    width: 200px;
    margin-left: 10px;
}

.btn-w {
    width: 200px;
}

.btn-u {
    cursor: pointer;
}

.tittle-modal {
    text-align: center;
    padding: 40px;
}

.modal-up {
    display: flex;
    justify-content: center;
    margin-top: 350px;
    background-color: #fff;
    width: 42%;
    height: 55%;
}

.modal-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.modal-in{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.btn-modal{
    display: flex;
}