.product-list {
    margin: 15px;
}

.card-product {
    display: flex;
    margin: 15px;
}

.card-info {
    width: 100%;
}

.imgProduct {
    width: 200px;
}


.label-product {
    font-size: small;
    font-weight: 500;
    color: grey;

}
.p-product {
    font-size: 20px;
    font-weight: 500;
    color: #232323;
}

.form-product {
    margin: 15px;
}