.title-color{
    color: #06B140;
}
.btn-width{
    width: 100px;
    height: 40px;
}
.btnSelect{
    width: 160px;
    height: 40px;
}
.link{
    text-decoration: none;
    color: #fff;
}
.link:hover{
    color: #fff !important;
}
.btn-color{
    color: #06B140;
}