th{
    color: #06B140;
}
.title-color{
    color: #06B140;
    font-weight: 600;
}
.btn-list{
    all: unset;
}

.statusSale {
    align-items: center;
    background: #aadfdf;
    border-radius: 5px;
    padding: 15px;
}

.icon-sale {
    font-size: 50px;
}